@page "/borrowers"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LendingView.Models
@using MudBlazor
@using LendingView.Components


@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@inject NavigationManager Navigation
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

@if (_isAddNew)
{
    <LendingView.Components.AddNewBorrower AddingNew="@_isAddNew" OnAddNew="HandleAddnew"></LendingView.Components.AddNewBorrower>
}
else
{

    <MudDataGrid T="Borrower" @ref="Elements" ServerData="ServerReload" Filterable="false" ReadOnly="@_readOnly" EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
    StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
    Bordered="true" Dense="true" EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Borrowers</MudText>
            <MudIconButton Size="@Size.Large" Icon="@Icons.Material.Filled.Add" aria-label="add" OnClick="() => AddNew()" />
            <MudSpacer />
            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

        </ToolBarContent>
        <Columns>
            <HierarchyColumn T="Borrower" />

            <PropertyColumn Class="d-none" Property="x => x.BorrowerId" Title="ID" Editable="false" Hidden="true" />

            <PropertyColumn Property="x => x.Name" Title="Name" />
            <PropertyColumn Property="x => x.BorrowerEmail" Title="Email" />
            <PropertyColumn Property="x => x.CountryCode" Title="Country" />
            <PropertyColumn Property="x => x.BorrowerSms" Title="Phone" />
            <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn>
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="() => DeleteItemAsync(context.Item)" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <ChildRowContent>
            <MudGrid>
                <MudItem xs="6">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Borrower ID: @context.Item.Name</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText> @context.Item.BorrowerEmail</MudText>
                            <MudText> @context.Item.CountryCode</MudText>
                            <MudText> @context.Item.BorrowerSms</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="6">
                    <BorrowerIItems Borrower="@context.Item"></BorrowerIItems>
                </MudItem>
            </MudGrid>
        </ChildRowContent>
        <PagerContent>
            <MudDataGridPager T="Borrower" />
        </PagerContent>
    </MudDataGrid>

    <div class="d-flex flex-wrap mt-4">
        <MudSwitch T="bool" @bind-Value="_isReadOnly" Color="@Color.Primary">Read Only</MudSwitch>
        <div class="d-flex justify-start align-center">
            <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Form</p>
            <MudSwitch @bind-Value="_isCellEditMode" Color="Color.Primary">Cell</MudSwitch>
        </div>
        <div class="d-flex justify-start align-center">
            <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Manual</p>
            <MudSwitch @bind-Value="_editTriggerRowClick" Color="Color.Primary">On Row Click</MudSwitch>
        </div>
    </div>

    <MudExpansionPanels Style="flex:1">
        <MudExpansionPanel Text="Show Events">
            @foreach (var message in _events)
            {
                <MudText Typo="@Typo.body2">@message</MudText>
            }
            @if (_events.Count > 0)
            {
                <div class="d-flex">
                    <MudSpacer />
                    <MudButton Class="mt-3" ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="@(() => _events.Clear())">Clear</MudButton>
                </div>
            }
        </MudExpansionPanel>
    </MudExpansionPanels>
}

@code {
    private MudDataGrid<Borrower> Elements;


    private bool _isReadOnly = true;
    private bool _readOnly;
    private bool _isCellEditMode;
    private List<string> _events = new();
    private bool _editTriggerRowClick;
    string searchString = null;
    public bool _isAddNew = false;
    private string? accessToken;
    private string? error;
    private string _returnUrl = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _returnUrl = Navigation.Uri;
        await LocalStorage.SetItemAsStringAsync(key: "redirectUrl", data: _returnUrl);
    }

    private async Task GetAccessToken()
    {
        var tokenResult = await TokenProvider.RequestAccessToken(new AccessTokenRequestOptions
            {
                Scopes = new[] { "https://needthatback.onmicrosoft.com/lender/lender" },

            });

        if (tokenResult.TryGetToken(out var token))
        {
            accessToken = token.Value;
        }
        else
        {
            error = tokenResult.Status switch
            {
                AccessTokenResultStatus.RequiresRedirect => "Redirect required. Navigating...",
                AccessTokenResultStatus.Success => null,
                _ => "An unknown error occurred."
            };

            if (tokenResult.Status == AccessTokenResultStatus.RequiresRedirect)
            {
                Navigation.NavigateTo(tokenResult.InteractiveRequestUrl!);
            }
        }
    }

    private async Task<GridData<Borrower>> ServerReload(GridState<Borrower> state)
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        bool isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        IEnumerable<Borrower> data = new List<Borrower>();
        int totalItems = 0;

        if (!isAuthenticated)
        {
            //store the return to url in session state
            string loginReturnUrl = $"authentication/login?state={Uri.EscapeDataString(_returnUrl)}";
            Navigation.NavigateTo(loginReturnUrl);
        }
        else
        {

            await GetAccessToken();

            var value = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
            Http.DefaultRequestHeaders.Authorization = value;

            data = await Http.GetFromJsonAsync<List<Borrower>>("/borrowers");
            await Task.Delay(300);
            data = data.Where(element =>
            {
                if (string.IsNullOrWhiteSpace(searchString))
                    return true;
                if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                    return true;
                if (element.BorrowerEmail.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                    return true;
                if (element.BorrowerSms.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                    return true;
                return false;
            }).ToArray();
            totalItems = data.Count();

            var sortDefinition = state.SortDefinitions.FirstOrDefault();
            if (sortDefinition != null)
            {
                switch (sortDefinition.SortBy)
                {
                    case nameof(Borrower.Name):
                        data = data.OrderByDirection(
                            sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending,
                            o => o.Name
                        );
                        break;
                    case nameof(Borrower.BorrowerEmail):
                        data = data.OrderByDirection(
                            sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending,
                            o => o.BorrowerEmail
                        );
                        break;
                    case nameof(Borrower.BorrowerSms):
                        data = data.OrderByDirection(
                            sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending,
                            o => o.BorrowerSms
                        );
                        break;
                }
            }
        }

        var pagedData = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new GridData<Borrower>
            {
                TotalItems = totalItems,
                Items = pagedData
            };

    }

    // events
    void StartedEditingItem(Borrower item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    void CanceledEditingItem(Borrower item)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }


    async void CommittedItemChanges(Borrower borrower)
    {
        _events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(borrower)}");


        //call the put AI and commit the changes
        await GetAccessToken();
        var value = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        Http.DefaultRequestHeaders.Authorization = value;

        var response = await Http.PutAsJsonAsync<Borrower>($"/borrowers/{borrower.BorrowerId}", borrower);

    }

    async void DeleteItemAsync(Borrower borrower)
    {
        _events.Insert(0, $"Event = Item deleted, Data = {System.Text.Json.JsonSerializer.Serialize(borrower)}");

        //call the put AI and commit the changes
        await GetAccessToken();
        var value = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        Http.DefaultRequestHeaders.Authorization = value;

        var response = await Http.DeleteAsync($"/borrowers/{borrower.BorrowerId}");

        Elements.ReloadServerData();
    }

    async void AddNew()
    {
        _isAddNew = true;
    }

    private void HandleAddnew(string msg)
    {
        _isAddNew = false;
    }

    private Task OnSearch(string text)
    {
        searchString = text;
        return Elements.ReloadServerData();
    }

}
